@font-face 
{ 
font-family: "Inconsolata";  
src: url("/assets/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")format("ttf"); 
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  transition: background-color 1s ease;
  font-size: 1.4em;
  font-family: 'Inconsolata', monospace;
}

#container {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin-top: 37vh;
}

.hidden {
  display: none;
}

#first-dream,
#second-dream {
  display: inline;
}

a {
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  height: 11vh;
  width: 100%;
}

#footer-container {
  text-align: right;
  margin-right: 20px;
  list-style-type: none;
}

.footer-item a {
  font-size: 0.7em;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.footer-answer {
  font-size: 0.7em;
  padding: 10px;
  float: right;
}